
@{
    ViewBag.Title = "CustomerView";
}

<<div class="heads" style="background: url(/public/img/brewery-back1.jpg) 50% 27%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span>//</span> Customer Codes</h2>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_CustomerInfoView")
@Html.Partial("_AddressView")
@Html.Partial("_ContactView")
